<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <key>vitruvio</key>
   <name>Integracao com Vitruvio</name>
   <version>1.0.1</version>
   <description>Um plugin para integrar o GLPI com o Vitruvio para processo de Compra de Suprimentos.</description>
   <authors>
      <author>
         <name>Ruan Bastos</name>
         <email>ruanbastos2013@gmail.com</email>
      </author>
   </authors>
   <glpi_ranges>
      <glpi_range>10.0.0</glpi_range>
   </glpi_ranges>
</plugin>